In [248]:
import sys
print("Python Version:", sys.version)

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import seaborn as sns
pd.set_option('display.max_rows', 500)
%matplotlib inline
%config InlineBackend.figure_format = 'svg'

Python Version: 3.7.6 (default, Jan  8 2020, 20:23:39) [MSC v.1916 64 bit (AMD64)]

In [249]:
# yymmdd format
dates = ['190803',
        '190810',
        '190817',
        '190824',
        '190831',
        '190907',
        '190914',
        '190921',
        '190928']

# iterate through dates and pull in csv and cat dataframes together
df_turns = []
for date in dates:
    df_turns.append(pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_'+date+'.txt'))
    
# Concat all dataframes
df_turns = pd.concat(df_turns)

In [250]:
#Clean up the column Names
new_col_names = [name.strip() for name in df_turns.columns]
df_turns.columns = new_col_names

In [251]:
# Remove audited rows
df_turns=df_turns[df_turns.DESC!='RECOVR AUD']
# remove column?
del df_turns['DESC']

In [252]:
# Create a DateTime column that can be used for timeseries
df_turns.loc[:,'DATETIME'] = pd.to_datetime(df_turns['DATE'] + ' ' + df_turns['TIME'])

#Convert Date column to proper date type.
df_turns['DATE']  = pd.to_datetime(df_turns['DATE'],format='%m/%d/%Y')

#convert time to datetime type
df_turns['TIME']=pd.to_datetime(df_turns['TIME'], format='%H:%M:%S')

In [253]:
#backup
df_backup=df_turns.copy()

In [254]:
#Sort in order of datetime
df_turns = df_turns.sort_values(by=['DATETIME']).reset_index()

In [255]:
# Caluclate Entries Aggregated at station level by DateTime
df_turns['Entry_Diff']=df_turns.groupby(['STATION', 'C/A', 'UNIT', 'SCP'],as_index=False)['ENTRIES'].transform(pd.Series.diff)['ENTRIES']

# Caluclate Exits Aggregated at station level by DateTime
df_turns['Exit_Diff']=df_turns.groupby(['STATION', 'C/A', 'UNIT', 'SCP'],as_index=False)['EXITS'].transform(pd.Series.diff)['EXITS']

In [256]:
#Absolute Value to deal with counting backward issues 
df_turns['Entry_Diff'] = abs(df_turns['Entry_Diff'])
df_turns['Exit_Diff']=abs(df_turns['Exit_Diff'])

# Calculate both
df_turns['Total_Traffic']=df_turns['Entry_Diff']+df_turns['Exit_Diff']

### Rami's Filtering

In [257]:
def Add_Weekday(data_frame, column='Date'):
    dmap = {0:'Mon', 1: 'Tue', 2: 'Wed', 3:'Thu', 4:'Fri', 5:'Sat', 6:'Sun'}
    #Convert column to date
    data_frame[column] = pd.to_datetime(data_frame[column])
    #Add column which shows the Weekday in integer
    data_frame['Day_Number'] = data_frame[column].apply(lambda x: x.dayofweek)
    #Add column which shows the Weekday in words
    data_frame['Weekday'] = data_frame['Day_Number'].map(dmap)
    return data_frame
df_turns_backup2 = df_turns.copy()

In [258]:
df_turns = Add_Weekday(df_turns, 'DATE')

In [259]:
#Filter out the Null Values
df_turns.dropna(subset=["Entry_Diff","Exit_Diff",'Total_Traffic'], axis=0, inplace=True)
df_turns.head()

,index,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,ENTRIES,EXITS,DATETIME,Entry_Diff,Exit_Diff,Total_Traffic,Day_Number,Weekday
2554,118307,PTH03,R552,00-01-08,JOURNAL SQUARE,1,PTH,2019-07-27,1900-01-01 00:24:57,65,30,2019-07-27 00:24:57,2.0,0.0,2.0,5,Sat
2592,118308,PTH03,R552,00-01-08,JOURNAL SQUARE,1,PTH,2019-07-27,1900-01-01 00:38:57,65,30,2019-07-27 00:38:57,0.0,0.0,0.0,5,Sat
2636,118309,PTH03,R552,00-01-08,JOURNAL SQUARE,1,PTH,2019-07-27,1900-01-01 00:52:57,65,30,2019-07-27 00:52:57,0.0,0.0,0.0,5,Sat
2640,118310,PTH03,R552,00-01-08,JOURNAL SQUARE,1,PTH,2019-07-27,1900-01-01 00:56:25,4043,3513,2019-07-27 00:56:25,3978.0,3483.0,7461.0,5,Sat
4489,118311,PTH03,R552,00-01-08,JOURNAL SQUARE,1,PTH,2019-07-27,1900-01-01 01:06:57,65,30,2019-07-27 01:06:57,3978.0,3483.0,7461.0,5,Sat

In [260]:
dfc_grouped = df_turns.groupby(['DATE', 'STATION', 'Weekday'])['Entry_Diff', 'Exit_Diff', 'Total_Traffic'].sum().reset_index()

C:\Users\atag3\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [355]:
#The upper_quant_df outputs a dataframe of the upper 95% values for each station
upper_quant_df = dfc_grouped.groupby(['STATION'])['Total_Traffic'].quantile([.95]).reset_index()
#Then I merge it with the grouped data 
df_turns_no_outlier = dfc_grouped.merge(upper_quant_df, on='STATION')
df_turns_no_outlier.head()

,DATE,STATION,Weekday,Entry_Diff,Exit_Diff,Total_Traffic_x,level_1,Total_Traffic_y
0,2019-07-27,1 AV,Sat,4308.0,5146.0,9454.0,0.95,40228.0
1,2019-07-28,1 AV,Sun,4106.0,5309.0,9415.0,0.95,40228.0
2,2019-07-29,1 AV,Mon,14483.0,16525.0,31008.0,0.95,40228.0
3,2019-07-30,1 AV,Tue,16375.0,18206.0,34581.0,0.95,40228.0
4,2019-07-31,1 AV,Wed,16812.0,19777.0,36589.0,0.95,40228.0

In [356]:
#delete the rows where The difference between Total_Traffic_y and Total_Traffic_x < 0
df_turns_no_outlier['Diff'] = df_turns_no_outlier['Total_Traffic_y'] - df_turns_no_outlier['Total_Traffic_x']
df_turns_no_outlier = df_turns_no_outlier[df_turns_no_outlier['Diff']>= 0]

In [357]:
df_turns_no_outlier.sample(50)

,DATE,STATION,Weekday,Entry_Diff,Exit_Diff,Total_Traffic_x,level_1,Total_Traffic_y,Diff
17996,2019-09-16,MT EDEN AV,Mon,5302.0,3136.0,8438.0,0.95,9077.8,639.8
22283,2019-09-23,TWENTY THIRD ST,Mon,10527.0,12410.0,22937.0,0.95,36381.3,13444.3
5992,2019-08-06,7 AV,Tue,38542.0,36008.0,74550.0,0.95,83898.7,9348.7
18462,2019-08-09,NEVINS ST,Fri,9754.0,10030.0,19784.0,0.95,22373.7,2589.7
22619,2019-08-12,VERNON-JACKSON,Mon,14708.0,9830.0,24538.0,0.95,29941.4,5403.4
22732,2019-07-30,W 8 ST-AQUARIUM,Tue,3590.0,3056.0,6646.0,0.95,7740.2,1094.2
14474,2019-09-19,GRAND ST,Thu,33063.0,26234.0,59297.0,0.95,60969.4,1672.4
9482,2019-09-03,BEDFORD-NOSTRAN,Tue,8331.0,4597.0,12928.0,0.95,15425.0,2497.0
9162,2019-08-29,BEACH 67 ST,Thu,2611.0,1977.0,4588.0,0.95,4982.6,394.6
19381,2019-09-15,ORCHARD BEACH,Sun,0.0,0.0,0.0,0.95,185.2,185.2
5615,2019-08-07,63 DR-REGO PARK,Wed,14698.0,5817.0,20515.0,0.95,22976.8,2461.8
21541,2019-08-05,ST. GEORGE,Mon,13245.0,2.0,13247.0,0.95,15704.4,2457.4
11768,2019-09-22,CLASSON AV,Sun,3290.0,3650.0,6940.0,0.95,12031.1,5091.1
22142,2019-09-08,TOMPKINSVILLE,Sun,29.0,0.0,29.0,0.95,834.4,805.4
1798,2019-08-30,174-175 STS,Fri,4797.0,2684.0,7481.0,0.95,8313.3,832.3
2050,2019-08-30,18 ST,Fri,6393.0,4009.0,10402.0,0.95,15896.1,5494.1
7478,2019-09-15,ALABAMA AV,Sun,1155.0,1309.0,2464.0,0.95,5028.3,2564.3
12422,2019-08-14,CYPRESS HILLS,Wed,1292.0,875.0,2167.0,0.95,2793.9,626.9
2057,2019-09-06,18 ST,Fri,9064.0,4619.0,13683.0,0.95,15896.1,2213.1
4616,2019-08-13,49 ST,Tue,22917.0,19223.0,42140.0,0.95,45642.6,3502.6
6856,2019-09-23,82 ST-JACKSON H,Mon,16357.0,19179.0,35536.0,0.95,36531.0,995.0
15746,2019-07-30,JAMAICA 179 ST,Tue,21203.0,8757.0,29960.0,0.95,33706.4,3746.4
5596,2019-09-20,61 ST WOODSIDE,Fri,18199.0,19852.0,38051.0,0.95,38684.8,633.8
1346,2019-08-19,161/YANKEE STAD,Mon,20022.0,11034.0,31056.0,0.95,74545.3,43489.3
15780,2019-09-02,JAMAICA 179 ST,Mon,7092.0,3678.0,10770.0,0.95,33706.4,22936.4
13952,2019-09-01,FRANKLIN ST,Sun,1596.0,961.0,2557.0,0.95,9951.6,7394.6
19809,2019-09-06,PATH WTC 2,Fri,2777.0,11380.0,14157.0,0.95,17942.2,3785.2
22736,2019-08-03,W 8 ST-AQUARIUM,Sat,3445.0,3461.0,6906.0,0.95,7740.2,834.2
7153,2019-09-05,9 AV,Thu,5704.0,5761.0,11465.0,0.95,11928.3,463.3
7269,2019-08-26,96 ST,Mon,50672.0,39081.0,89753.0,0.95,123924.7,34171.7
15010,2019-08-19,HARRISON,Mon,8857.0,8623.0,17480.0,0.95,21161.8,3681.8
8800,2019-09-14,BAYCHESTER AV,Sat,1582.0,398.0,1980.0,0.95,5173.6,3193.6
9213,2019-08-17,BEACH 90 ST,Sat,1503.0,1297.0,2800.0,0.95,7021.0,4221.0
16940,2019-07-30,LEXINGTON AV/53,Tue,44914.0,46565.0,91479.0,0.95,95304.4,3825.4
17047,2019-09-12,LEXINGTON AV/63,Thu,24241.0,25517.0,49758.0,0.95,50271.4,513.4
4650,2019-09-16,49 ST,Mon,19421.0,17079.0,36500.0,0.95,45642.6,9142.6
15298,2019-09-24,HOWARD BCH JFK,Tue,4613.0,4798.0,9411.0,0.95,10426.8,1015.8
11084,2019-07-30,CATHEDRAL PKWY,Tue,18042.0,9314.0,27356.0,0.95,33002.0,5646.0
21192,2019-09-03,SHEPHERD AV,Tue,3050.0,1614.0,4664.0,0.95,5501.5,837.5
7319,2019-08-13,96 ST-2 AVE,Tue,18176.0,13303.0,31479.0,0.95,37024.7,5545.7
8526,2019-08-23,BAY 50 ST,Fri,2222.0,299.0,2521.0,0.95,3832.9,1311.9
16300,2019-09-21,JUNCTION BLVD,Sat,17116.0,24729.0,41845.0,0.95,42467.2,622.2
9229,2019-09-02,BEACH 90 ST,Mon,507.0,459.0,966.0,0.95,7021.0,6055.0
1883,2019-09-21,175 ST,Sat,9641.0,6245.0,15886.0,0.95,22153.0,6267.0
1529,2019-08-13,168 ST,Tue,18719.0,4482.0,23201.0,0.95,26195.1,2994.1
8229,2019-09-10,AVENUE N,Tue,3312.0,1282.0,4594.0,0.95,4665.6,71.6
18304,2019-09-09,NECK RD,Mon,4801.0,1593.0,6394.0,0.95,6840.5,446.5
10059,2019-09-13,BRIARWOOD,Fri,5394.0,2697.0,8091.0,0.95,8295.1,204.1
4917,2019-07-30,50 ST,Tue,49548.0,41001.0,90549.0,0.95,99364.1,8815.1
13601,2019-07-27,FLUSHING-MAIN,Sat,34218.0,29495.0,63713.0,0.95,116819.3,53106.3

# End of group data cleaning

The data should now have outliers removed and can be aggregated as necessary for analysis. The last cell with save a pickled dataframe for easy import into other notebooks.

In [439]:
df_turns_no_outlier.to_pickle('Cleaned_Working_Dataframe.pkl')